@font-face {
    font-family: "Pixel Times";
    src: url("../fonts/PixelTimes.ttf");
}

#text {
    -fx-font-family: "Pixel Times";
    -fx-font-size: 48;
    -fx-fill: rgba(255, 255, 255, 1.0);;
}

#root {
    -fx-background-radius: 10;
    -fx-border-radius: 10;
    -fx-background-color: rgba(0, 0, 0, 0.3);
    -fx-background-position: center;
    -fx-background-repeat: no-repeat;
}